version: 0.1
log:
  level: info
storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: /var/lib/registry
  delete:
    enabled: true
  maintenance:
    uploadpurging:
      enabled: true
      age: 8h
      interval: 1h
      dryrun: false
http:
  addr: :<%= config.registry.port %>
  headers:
    X-Content-Type-Options: [nosniff]
  <%- if config.registry.self_signed -%>
  tls:
    certificate: /root/certs/registry_host.crt
    key: /root/certs/registry_host.key
  <%- end -%>
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
<%- if config.registry.auth_enabled -%>
auth:
  token:
    realm: <%= "#{(config.https? ? 'https' : 'http')}://#{config.hostname}:#{config.port}/jwt/auth" %>
    service: container_registry
    issuer: gitlab-issuer
    rootcertbundle: /root/certs/localhost.crt
    autoredirect: false
<%- end -%>
validation:
  disabled: true
